{% extends "accounts/index.html" %}

{% load widget_tweaks %}

{% block title %}Minha Conta{% endblock %}

{% block accounts_container %}
    <h2>Minha Conta</h2>

    Info:<br><br>
    Nome: {{ user }}<br>
    Email: {{ user.email }}<br>
    Data da entrada: {{ user.date_joined }}<br>
    <h2>Meus Jogos:</h2>
    {% for i in games %}
    <b>{{ i.nome }}</b><br>
        Autores: {{ i.autores }}<br>
        Versão: {{ i.versao }}<br>
        Descrição: {{  i.descricao }}<br>
        <a href="{% url 'game:remove' i.id %}"><button>Remover</button></a>
        <br><br>
    {% endfor %}

{% endblock %}
