{% extends "base.html" %}


{% block title %}Registro | {{ block.super }}{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1>Registro</h1>
            </div>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset>
                    Digite seu E-mail inf.ufsm.br
                    <div class="form-group">
                        <div>
                            <input type="email" name="email" placeholder="E-mail" class="form-control" required>
                        </div>
                    </div>
                    <input class="btn btn-default submit" type="submit" value="Registrar"/>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
